/*
 * To set up the aspects of html and body
 */
html, body {
	margin: 0 !important;
	padding: 0 !important;
	overflow-x: hidden;
	min-height:100% !important;
	min-width: 100% !important;
	background-color: black;
	bottom: 0;
}

/*
 * To set up the aspects of body
 */
body {
	background-image: linear-gradient(to bottom right, #9381ff , antiquewhite); /* add background */
	/*position: absolute;*/
	/*top: 0;*/
	/*overflow-y: hidden*/
}

/*
 * To override bootstrap's rules
 */
.navbar-brand {
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 0 !important;
	font-size: 1.25rem;
	text-decoration: none;
	white-space: nowrap;
}

/*
 * To override bootstrap's rules
 */
.navbar {
	position: relative !important;
	padding-bottom: 10px !important;
}

/*
 * To customise the table
 */
.tableCol {
	background-color: white;
	border-radius: 10px;
	padding-left: 100px;
}

/*
 * To adjust top distance
 */
.containerTable {
	margin-top: 100px;
}

/*
 * To adjust top/bottom distance
 * and add shadowing
 */
.tableStyle {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	margin-bottom: 40px;
	margin-top: 640px;
}

/*
 * To customise buttons of
 * login page
 */
.userButton {
	float: right;
	text-decoration: none;
	background-color: #f8f7ff;
	padding: 10px 10px 10px 10px;
	border-style: solid;
	border-color: grey;
	border-radius: 7px;
	font-weight: bold;
	color:  black;
}

/*
 * To add hover animation
 */
.userButton:hover {
	color: darkgreen;
	transition: 0.10s ease-in;
}

/*
 * To customise the titles
 * of the inputs
 */
.inputTitle {
	color:  white;
}

/*
 * To customise the inputs
 */
input {
	background-color:  silver;
	border-radius: 7px;
	border-style: solid;
	border-color: #404040;
}

/*
 * To customise bootstrap's rule
 */
.row {
	--bs-gutter-x: 1.5rem; /* change gutter space */
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y)) !important;
	margin-right: calc(0 * var(--bs-gutter-x)) !important;
	margin-left: calc(0 * var(--bs-gutter-x)) !important;
	align-items: center !important;
	font-weight: 500 !important;
	border-radius: 10px !important;
}

/*
 * To customise card margin
 */
.card {
	margin: 11px 0 !important;
}

/*
 * To customise the heading names
 */
.heading {
	font-size: 40px !important;
	font-weight: 670 !important;
}

/*
 * To adjust font-size
 * of heading names
 */
.headingNames {
	font-size: 20px !important;
	font-weight: 670 !important;
}

/*
 * To adjust font-size
 * of normal text
 */
.fontSize {
	font-size: 18px !important;
}

/*
 * To customise the pagination
 */
.pagination a.active {
	background-color: #4CAF50;
	color: white;
}

/*
 * To customise upload button
 * and home button
 */
.uploading, .home {
	font-size: 18px;
	text-decoration: none;
	background-color: #f8f7ff;
	padding: 10px 10px 10px 10px;
	border-style: solid;
	border-color: grey;
	border-radius: 7px;
	font-weight: bold;
	color:  black;
}

/*
 * To customise the hover animation
 * for upload and home buttons
 */
.uploading:hover .home:hover {
	color: darkgreen;
	transition: 0.10s ease-in;
}

/*
 * To position the upload button
 * and customise it
 */
.uploadImage {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	text-align: center !important;
	justify-content: center !important;
	align-items: center !important;
	display: flex !important;
	width: 100% !important;
	position: relative !important;
	overflow:auto !important;
	font-size: 18px !important;
	text-decoration: none !important;
	background-color: #f8f7ff !important;
	padding: 5px 10px 5px 10px !important;
	border-style: solid !important;
	border-color: grey !important;
	border-radius: 7px !important;
	font-weight: bold !important;
	color:  black !important;
}

/*
 * To override bootstrap's rule
 * for correct positioning
 */
.searchButton {
	margin-left: 1% !important;
}

/*
 * To adjust the padding of buttons
 * inside the container
 */
.userButtonCover {
	padding-right: 0 !important;
}

/*
 * To customise background colour of
 * button when hover on
 */
.c:hover {
	background-color: #cddcfe !important;
}

/*
 * To give particular colouring
 * to highish the selected one
 */
.aPageItems {
	background-color: #b4cafd !important;
	color: black !important;
}

/*
 * To adjust the width
 * of the image container
 */
.imgMain {
	width: 100% !important;
}

/*
 * To customise the text
 * for register
 */
.register {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

/*
 * To adjust the position of
 * unordered list
 * and list items
 */
.ul li{
	display: inline-block;
	margin-bottom: 10%;
}

/*
 * To make the profile picture round
 */
.profPic {
	border-radius: 50% !important;
}

/*
 * To make the image round
 */
.footText {
	padding-top: 0 !important;
	margin:0 auto;
}

/*
 * To customise the footer
 */
.footer {
	bottom: 0 !important;
	text-align: center !important;
	width: 100% !important;
	height: 100px !important;
	position: relative !important;
	background: black;
	color: white;

}

/*
 * To customise confirmation
 * container position
 */
.confirmContainer {
	padding-top: 100px !important;
	padding-bottom: 100px !important;
}

/*
 * To adjust padding
 * for pagination
 */
.paginationChange {
	padding-bottom: 90px;
}

/*
 * To customise
 * the welcome text
 */
.welcome, .searchMatch {
	color: white;
	padding: 0 12px;
}

/*
 * To customise
 * the logo image
 */
.logoImg {
	box-shadow: 0 3px 30px rgb(0 0 0 / 0.4);
	border-radius: 50px;
	height: 80px;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	display: block;

}

/*
 * To customise normal text buttons
 */
.c {
	font-size: 18px;
	text-decoration: none;
	background-color: #f8f7ff;
	padding: 10px 10px 10px 10px;
	border-style: solid;
	border-color: lightgray;
	border-radius: 7px;
	font-weight: bold;
	color: black;
	margin: 5px 0 !important;
}

/*
 * To disable text decoration
 */
.clickUser {
	text-decoration: none;
	color: black;
}

/*
 * To adjust the position
 * of logo container
 */
.loginContainer{
	width: 300px;
	margin-top: 60px;
	padding-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
}

/*
 * To adjust the position
 * of logo image container
 */
.logoImgContainer {

	margin-bottom: 10%;
}

/*
 * To customise the form
 */
.form {
	border-radius: 10px;
	padding-top: 5%;
	background-color: #94B3FD;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	text-align: center;
	margin:0 auto;
	position: relative;
	padding-bottom: 14%;
}

/*
 * To prevent user
 * to click and select content
 * code retrieved from online resource
 */
.notClickable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*
 * To target the pointer
 * to its descendent.
 */
img {
	pointer-events: none;
}

/*
 * Container for buttons
 * that can flex
 */
.fCont {
	display: flex;
	flex-direction: column;
}

/*
 * To increase the width of the
 * button and center it
 */
.f {
	width: 90%;
	text-align: center;
	margin-bottom: 5px;
}

/*
 * To fix the margin problem
 */
.page-link {
	margin: 0 0 0 -1px !important;
}

/*
 * To set up the font size
 */
.welcome {
	font-size: 30px;
}

/*
 * To add space
 */
.spacerWelcome {
	margin-top: 15px;
}

/*
 * To hide input
 */
.antispam {
	display: none;
}

/*
 * To customise file input
 */
.inputImage {
	width: 100%;
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

/*
	map contents
 */
.markerContent {
	display: flex;
	flex-direction: row-reverse;
}

.olFramedCloudPopupContent {
	display: flex;
	align-items: center;
}

.mapsImage {
	border-radius: 50%;
	margin: 0 10px 0 0;
}

.innerDetails {
	/*display: flex;*/
	/*flex-direction: column;*/

	display: flex;
	flex-wrap: nowrap;
	flex-direction: row-reverse;
	align-items: center;
}


/*
	realtime search system
 */
.blockHov {
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: row;
	cursor: default;
	padding: 5px;
	user-select: none;
	border-radius: 5px;
}

.blockHov:hover { background-color: lightblue; }
.blockHov:active { background-color: cornflowerblue; }

#searchCool {
	user-select: none;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#email:active, #name:active, #username:active, #password:active, #passwordRepeat:active {
	background-color: darkseagreen;
}

.btnDisable {
	pointer-events: none;
}

.outer-popup-fullSearch {
	z-index: 1;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
}

.searchContainer{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background: skyblue;
	border-radius: 15px;
	box-shadow: 0px 0px 30px rgb(0 0 0 / 50%);
}

.outer-popup-login {
	z-index: 1;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	animation-name: loginSystem;
	animation-duration: 600ms;
}

@keyframes loginSystem {
	from { opacity: 0.0 }
	to { opacity: 1.0 }
}

/*
	loading screen design
 */
.loading {
	user-select: none;
	top: 0;
	left: 0;
	display: flex;
	position: fixed;
	z-index: 1;
	background-color: black;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

/*
	design for the dynamic search list
 */
.searchCoolOuter {
	z-index: 2;
	display: flex;
	justify-content: center;
	position: sticky;
	margin: -40px 0 0 0;
}

/*
	style for the preview photo
 */
.imgFramePreviewPhoto {
	background-color: whitesmoke;
	margin: 10px 0;
	width: 180px;
	height: 180px;
	box-shadow: 00px 0px 20px black;
	overflow:hidden;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
canvas {
	border: 3px solid red;
	display: flex;
	margin: 0 auto;
}

.previewPhoto {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 0 0 0;
}

.frameWrapper {
	width: 100%;
	margin: 35px auto;
	display: flex;
	justify-content: center;
	align-content: center;
}

.photo {
	margin-right: 5px;
}

.photoCust {
	padding: 2px 10px 2px 10px;
}

.buttWrap {
	display: flex;
	align-content: center;
	justify-content: center;
}

.uploadImageWrap {
	display: flex;
	justify-content: center;
}

.mrgZoomIn {
	margin-right: 5px !important;
}

.photoUpload {
	width: 100%;
}

/*
	lower opacity for the buttons
 */
.dis {
	opacity: 0.5;
	cursor: pointer !important;
}

.clearBox {
	display: none;
	padding: 0 10px 0 0;
	margin: 11px 0 0 -30px;
}

/*
	close icon design
 */
.inClear {
	top: 21px;
	width: 20px;
	display: flex;
	position: relative;
	justify-content: center;
	flex-direction: column;
}

.inClear::before, .inClear::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: black;
}

.inClear::before {
	transform: rotate(45deg);
}

.inClear::after {
	transform: rotate(-45deg);
}

.greyscaleFont {
	font-size: 20px;
	font-weight: 600;
}

.checkGrey {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#greyscale {
	margin: 5px;
	width: 25px;
	height: 25px;
}

.clearHistory {
	display: flex;
	margin: 0 0 -25px 0;
	justify-content: center;
	align-items: flex-end;
}

.truncateTextSearch {
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0;
}

.clearHistory {
	font-size: 12px;
	color: cornflowerblue;
}
.clearHistory:hover { color: blue }


/*
	scroll bar style
 */
/* width */
::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #990000;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: darkred;
}

.closeSearchAll {
	height: 40px;
	width: 20px;
	display: flex;
	position: relative;
	justify-content: center;
	flex-direction: column;

}

.closeSearchAll::before, .closeSearchAll::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: black;
}

.closeSearchAll::before {
	transform: rotate(45deg);
}

.closeSearchAll::after {
	transform: rotate(-45deg);
}

.closeBoxSearch {
	position: absolute;
	float: left;
	border-radius: 1.25rem;
	background: grey;
	padding: 0 10px 0 10px;
	margin: 10px 0 0 10px;
	display: flex;
}

.closeBoxSearch:hover { background: #666666; }

#javaScriptAdd {
	margin: 30px 0 0 60px;
}

.loginCloseBox {
	margin: 0 !important;
}

/*
 * frame for the close login
 */
.closeLoginFrame {
	margin-top: 20px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}